<div>
	<h5 class="mt-3">
		フォロワー一覧
	</h5>
	<table>
		<thead>
			<tr>
				<th>
					名前
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @followers.each do |follower| %>
			<tr>
				<td>
					<%= follower.observer.name %>
				</td>
			</tr>
			<tr>
				<td>
					<div class="follower_destroy">
						<%= render "learner/observer_follows/follower_destroy", follower: follower %>
					</div>
				</td>
			</tr>
		</tbody>
		<% end %>
	</table>
</div>