<div class="container">
	<div>
		<h4>学習者の方はこちら</h4>
		<div>
			<%= link_to "新規登録", new_learner_registration_path %>
			<%= link_to "ログイン", new_learner_session_path %>
		</div>
	</div>

	<div>
		<h4>保護者の方はこちら</h4>
		<div>
			<%= link_to "新規登録", new_observer_registration_path %>
			<%= link_to "ログイン", new_observer_session_path %>
		</div>
	</div>
</div>