<div class="container">
	<div class="mx-auto text-center">
		<h1>ゆあれぽーと</h1>
		<p>YOUR REPORT</p>
		</br>
		<p>あなたの成績を記録して、いつでも確認。</p>
		<p>保護者の方も、学習者の方をフォローして目標や成績を確認できます。</p>
		</br>
	</div>
	<div class="mx-auto d-flex justify-content-center mt-5">
		<div class="mx-3">
			<h4>学習者の方はこちら</h4>
			<div class="text-center">
				<%= link_to "新規登録", new_learner_registration_path, class: "btn btn-outline-success mt-3" %>
				<%= link_to "ログイン", new_learner_session_path, class: "btn btn-outline-primary mt-3" %>
			</div>
		</div>

		<div class="mx-3">
			<h4>保護者の方はこちら</h4>
			<div class="text-center">
				<%= link_to "新規登録", new_observer_registration_path, class: "btn btn-outline-success mt-3" %>
				<%= link_to "ログイン", new_observer_session_path, class: "btn btn-outline-primary mt-3" %>
			</div>
		</div>
	</div>
</div>