<div class="container">
  <div class="col-md-10 mx-auto mt-3">
    <h3 class="mt-3">次の定期テストの目標</h3>
    <div class="form-group">
      <%= form_with model: [@learner, @goal] do |goal| %>
        <div class="mt-3">
          <%= goal.text_area :body, class: "form-control" %>
        </div>
        <div class="mt-3">
          <%= goal.submit "登録", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>