<div>
	<h6 class=mt-3>
		フォローリクエスト
	</h6>
	<table>
		<thead>
			<tr>
				<th>名前</th>
				<th></th>
			</tr>
		</thead>
		<% @requests.each do |request| %>
			<tbody>
				<tr>
					<td><%= request.observer.name %></td>
				</tr>
				<tr>
					<td class="d-flex">
						<div class="accept_follow">
							<%= render "learner/follow_requests/accept_follow", request: request %>
						</div>
						 |
						 <div class="reject_follow">
							<%= render "learner/follow_requests/reject_follow", request: request %>
						 </div>
					</td>
				</tr>
			</tbody>
		<% end %>
	</table>
</div>