<div class="container">
	<div>
		<h6 class=mt-3>
			フォローリクエスト
		</h6>
		<table>
			<thead>
				<th>名前</th>
				<th></th>
			</thead>
			<% @requests.each do |request| %>
				<tbody>
					<td>request.observer.name</td>
					<td>
						<%= link_to "フォロー承認", learner_observer_follow_path(learner_id: current_learner.id, id: request.id), method: :post %>
						 |
						<%= link_to "フォロー拒否", learner_observer_follow_path(learner_id: current_learner.id, id: request.id), method: :delete %>
					</td>
				</tbody>
			<% end %>
		</table>
	</div>
</div>