<div class="container">
	<div class="mt-3">
    <% if observer_signed_in? %>
      <% if @observer.name.present? %>
        <h4>こんにちは、<%= @observer.name %>さん！</h4>
      <% else %>
        <h4>こんにちは！</h4>
      <% end %>
  	<% end %>
	</div>
	<div class="mt-1">
		<%= link_to "登録情報編集", edit_observer_registration_path(current_observer), class: "btn btn-outline-primary" %>
	</div>
	<div>
	  <div class="mt-3">
	    <h4>フォロー一覧</h4>
	    <% if @follows.present? %>
	    	<% @follows.each do |follow| %>
	    		<%= link_to follow.learner.name, observer_learner_path(follow.id) %>さん
	    	<% end %>
	    <% else %>
	    	フォローしている人はいません
	    <% end %>
	  </div>
	  <div class="mt-3">
	    <%= link_to "ここから学習者を検索", observer_search_path %>
	  </div>
	</div>
</div>