<div class="container">
	<div>
  <% if observer_signed_in? %>
    <% if @observer.name.present? %>
    <h4>こんにちは、<%= @observer.name %>さん！</h4>
    <% else %>
      <h4>こんにちは！</h4>
    <% end %>
	<% end %>
	</div>
</div>